.hero {
  height: 650px;
}
.container {
  display: grid;
  justify-items: start;
  height: 100%;
  gap: 1.5rem;
}
.hero h1 {
  display: block;
  line-height: 1.4em;
  font-size: clamp(2rem, 4.4vw, 3rem);
  font-weight: 100;
}
.contactContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: clamp(1rem, 5vw, 4rem);
}
.iconAndUrlWrapper {
  display: flex;
  gap: 1rem;
}
.contentWrapper h4 {
  font-weight: 300;
  margin-bottom: 1rem;
}
.content {
  align-self: center;
}

.iconAndUrl {
  display: flex;
  gap: 0.5rem;
}
