:root {
  --v-space: clamp(90px, 8.7vw, 120px);
  --v-hero-space:clamp(60px, 6.5vw, 90px);
  --v-maxPrimaryPageWidth: 1366px;
  --v-dark-blue-rgb: 7, 1, 31;
  --v-white-rgb: 255, 255, 255;
  --v-white-op: 255, 255, 255, 0.8;
  --v-dark-gray-rgb: 136, 136, 136;
  --v-light-gray-rgb: 247, 249, 250;
  --v-medium-gray-rbg: 211, 211, 211;
  --v-dark-red-rgb: 183, 38, 97;
  --v-black-rgb: 0, 0, 0;
  --v-pink01-rgb: 229, 195, 229;
  --v-pink02-rgb: 255, 192, 203;
  --v-orange-rgb: 78, 10, 215;
  --v-light-green-rgb: 207, 235, 233;
  --v-gradient-right: linear-gradient(
    to right,
    rgb(113, 251, 241),
    rgb(var(--v-pink01-rgb))
  );
  --v-gradient-left: linear-gradient(
    to left,
    rgb(113, 251, 241),
    rgb(var(--v-pink01-rgb))
  );
  --v-gradient-gray-to-white: linear-gradient(
    to right,
    rgb(var(--v-dark-gray-rgb)),
    rgb(var(--v-white-rgb))
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 200px;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}
a {
  color: rgb(var(--v-black-rgb));
  display: inline-block;
  text-decoration: none;
  padding-bottom: 2px;
  background-image: linear-gradient(#000 0 0);
  background-position: right bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
a:hover {
  text-decoration: none;
  background-size: 0% 2px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wContainer {
  width: min(92%, 1166px);
  margin: auto;
  position: relative;
}

.homeContainer {
  display: grid;
  gap: 4rem;
}

.headingDecoration {
  font-size: clamp(30px, 3vw, 40px);
  min-height: 0vw;
  font-weight: 400;
}

.headingDecoration::after {
  display: block;
  content: "";
  width: 160px;
  height: 0px;
  border-top: solid 1px rgb(var(--v-dark-red-rgb));
  margin-top: 0.6em;
}

.headingDecoration + p {
  margin-top: 1em;
  margin-bottom: 2em;
  color: rgb(var(--v-dark-gray-rgb));
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

header {
  background: var(--v-gradient-right);
}

header.about {
  background: var(--v-gradient-left);
}

footer {
  background: rgb(var(--v-dark-gray-rgb));
}

main {
  background: var(--v-gradient-right);
}
main.about {
  background: var(--v-gradient-left);
}

@media (min-width: 768px) {
  a {
    background-image: linear-gradient(#00000050 0 0);
  }
}
