.skills,
.education {
  background-color: rgb(var(--v-white-rgb));
  padding: var(--v-space) 0;
}
.experience {
  background-color: rgb(var(--v-light-green-rgb));
  padding: var(--v-space) 0;
}
.heading {
  position: absolute;
  top: calc((var(--v-space) + 0.6em) * -1);
  font-size: clamp(30px, 3vw, 40px);
  min-height: 0vw;
  font-weight: 300;
}
.title {
  margin: 1rem 0 0.5em;
  font-size: clamp(10px, 1.6vw, 14px);
  font-weight: 400;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 25px;
}
.item {
  color: gray;
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: clamp(12px, 2vw, 20px);
}
.title {
  color: gray;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: clamp(10px, 1.6vw, 14px);
  margin: 1rem 0 0.5em;
}
.period {
  color: gray;
  font-weight: 300;
  font-size: clamp(10px, 1.6vw, 14px);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
