.hero {
  height: auto;
}
.imgtext {
  padding: var(--v-space) 0;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: clamp(45px, 6vw, 80px);
}
.iconAndUrlWrapper {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
.iconList {
  display: flex;
  justify-content: flext-start;
  align-items: center;
  gap: 20px;
}
.img > img {
  border-radius: 50%;
}
.description {
  font-size: clamp(20px, 2.3vw, 32px);
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .container > .img {
    flex: 1;
    min-width: 17em;
  }

  .container > .text {
    flex: 2;
  }
}
