.skills,
.education {
  background-color: rgb(var(--v-white-op));
  padding: var(--v-space) 0;
}
.experience {
  padding: var(--v-space) 0;
}
.heading {
  font-size: clamp(30px, 3vw, 40px);
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(100, 100, 100, 1);
}

.title {
  margin: 1rem 0 0.5em;
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 400;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 25px;
  padding: 2em 0;
}
.profileContainer {
  display: grid;
  gap: 32px 25px;
  padding: 2em 0;
}
.item {
  color: rgb(var(--v-skills-gray-rgb));
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: clamp(14px, 2vw, 16px);
}
.title {
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
  margin: 1rem 0 0.5em;
}
.period {
  color: gray;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .profileContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
