.header {
  height: 112px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav {
  text-decoration: none;
}
.navtext {
  font-weight: 400;
}
.navtext:hover {
  font-weight: 500;
  text-decoration: underline;
}
.about {
  background-color: rgb(var(--v-light-green-rgb));
}
