.header {
  height: 75px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navtext {
  font-weight: 400;
}

@media (min-width: 768px) {
  .header {
    height: 112px;
  }
}
