.hero {
  height: auto;
}
.container {
  display: grid;
  justify-items: start;
  height: 100%;
  gap: 1.5rem;
}
.hero h1 {
  display: block;
  line-height: 1.4em;
  font-weight: 100;
  margin: 0.67em 0;
  font-size: clamp(32px, 4.6vw, 64px);
  letter-spacing: clamp(-0.01px, 5vw, -0.02em);
}
