.iconAndUrl {
  display: flex;
  gap: 0.5rem;
}

.iconAndUrlContent {
  align-self: center;
}

.contentWrapper h4 {
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.iconAndUrlContainer {
  width: fit-content;
}
