.projects {
  background-color: rgb(var(--v-white-op));
}
.imgtext {
  padding: var(--v-space) 0;
}
.imgtext + .imgtext {
  padding-top: 0;
}
.container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
.iconAndUrlWrapper {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
}
.description {
  font-weight: 300;
}
.img {
  box-shadow: 2px 2px 2px rgb(100, 100, 100, 1);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .container > .text {
    flex: 1;
    min-width: 17em;
  }

  .container > .img {
    flex: 2;
  }

  .container.reverse {
    flex-direction: row-reverse;
  }
}
